<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
     <h3 class="text-secondary p-4 bg-light">Gracias por ingresar un producto nuevo!</h3>
     <a href='./productos'><button class='btn btn-success'>Ver Productos</button></a>
</body>

</html>