<h1 class='text-secondary text-center'>Ingrese una fruta</h1>
<section class='p-4 bg-light'>
  <form action='/productos' method='POST'>
    <div class='mb-3'>
      <label class='form-label fw-bold text-secondary fs-3' for='name'>Nombre:</label>
      <input class='form-control' type='text' name='title' required />
    </div>
    <div class='mb-3'>
      <label class='form-label fw-bold text-secondary fs-3' for='price'>Precio:</label>
      <input class='form-control' type='number' name='price' required />
    </div>
    <div class='mb-3'>
      <label class='form-label fw-bold text-secondary fs-3' for='picture'>Foto URL:</label>
      <input class='form-control' type='url' name='thumbnail' required />
    </div>
    <div class='mb-3'>
      <input class='btn btn-success d-block mx-auto' type='submit' value='Enviar' />

    </div>
  </form>
</section>